/*
dark primary color: #303F9F
primary color: #3F51B5
accent color: #009688
text color: #FFFFFF
hover text: #212121
*/

* {
margin: 0px;
padding: 0px;
font-family: 'Arvo', serif;

}

h1 {
    color: white;
    padding: 40px 0px 40px 0px;
    background-color: #303F9F;
    margin: 40px;
    text-align: center;
    font-family: 'Kelly Slab', fantasy;
    font-size: 60px;
    font-weight: 3000;
}

section {
    margin-left: 150px;
}

nav {
    background-color: #3F51B5;
    padding: 40px 0px 40px 0px;
    margin-left: 150px;
}

nav ul {
    list-style: none
}

nav a {
    color: #FFFFFF;
    text-decoration: none; 
}

nav a:hover{
    color: #212121;
}

p {
    
}

   